/*
Theme Name: Titan Default
Theme URI: http://titanweb.com.au
Description: Titan Default Theme
Version: 1.0
Author: Titan
Author URI: http://titanweb.com.au

NOTES: 
1.	You have to have 
	<body <?php body_class(); ?>>
	on the body tag.
2.	You need to have noimage.gif on your themes folder
*/
/*default*/
.group:after { content:" "; display:block; height:0; clear:both; visibility:hidden; }
/*-----IE SPECIFIC STYLESHEET UTILITY-----*/
/* for IE6 */
* html .group { height:1%; }
/* for IE7 */
*:first-childhtml .group { min-height:1px; }
/*-----Share This-----*/
#wpsc_akst_form { background: #999; border: 1px solid #ddd; display: none; position: absolute; width: 350px; z-index: 999; }
#wpsc_akst_form a.akst_close { color: #fff; float: right; margin: 5px; }
#wpsc_akst_form ul.tabs { border: 1px solid #999; list-style: none; margin: 10px 10px 0 10px; padding: 0; }
#wpsc_akst_form ul.tabs li { background: #ccc; border-bottom: 1px solid #999; cursor: pointer; float: left; margin: 0 3px 0 0; padding: 3px 5px 2px 5px; }
#wpsc_akst_form ul.tabs li.selected { background: #fff; border-bottom: 1px solid #fff; cursor: default; padding: 4px 5px 1px 5px; }
#wpsc_akst_social, #wpsc_akst_email { background: #fff; border: 1px solid #fff; padding: 10px; }
#wpsc_akst_social ul { list-style: none; margin: 0; padding: 0; }
#wpsc_akst_social ul li { float: left; margin: 0; padding: 0; width: 45%; }
#wpsc_akst_social ul li a { background-position: 0px 2px; background-repeat: no-repeat; display: block; float: left; height: 24px; padding: 4px 0 0 22px;vertical-align: middle; }
#wpsc_akst_delicious { background-image: url(../wpsc-core/images/social_networking/delicious.gif); }
#wpsc_akst_digg { background-image: url(../wpsc-core/images/social_networking/digg.gif); }
#wpsc_akst_furl { background-image: url(../wpsc-core/images/social_networking/furl.gif); }
#wpsc_akst_netscape { background-image: url(../wpsc-core/images/social_networking/netscape.gif); }
#wpsc_akst_yahoo_myweb { background-image: url(../wpsc-core/images/social_networking/yahoo_myweb.gif); }
#wpsc_akst_stumbleupon { background-image: url(../wpsc-core/images/social_networking/stumbleupon.gif); }
#wpsc_akst_google_bmarks { background-image: url(../wpsc-core/images/social_networking/google_bmarks.gif); }
#wpsc_akst_technorati { background-image: url(../wpsc-core/images/social_networking/technorati.gif); }
#wpsc_akst_blinklist { background-image: url(../wpsc-core/images/social_networking/blinklist.gif); }
#wpsc_akst_newsvine { background-image: url(../wpsc-core/images/social_networking/newsvine.gif); }
#wpsc_akst_magnolia { background-image: url(../wpsc-core/images/social_networking/magnolia.gif); }
#wpsc_akst_reddit { background-image: url(../wpsc-core/images/social_networking/reddit.gif); }
#wpsc_akst_windows_live { background-image: url(../wpsc-core/images/social_networking/windows_live.gif); }
#wpsc_akst_tailrank { background-image: url(../wpsc-core/images/social_networking/tailrank.gif); }
#wpsc_akst_email { display: none; text-align: left; }
#wpsc_akst_email form, #wpsc_akst_email fieldset { border: 0; margin: 0; padding: 0; }
#wpsc_akst_email fieldset legend { display: none; }
#wpsc_akst_email ul { list-style: none; margin: 0; padding: 0; }
#wpsc_akst_email ul li { margin: 0 0 7px 0; padding: 0; }
#wpsc_akst_email ul li label { color: #555; display: block; margin-bottom: 3px; }
#wpsc_akst_email ul li input { padding: 3px 10px; }
#wpsc_akst_email ul li input.akst_text { padding: 3px; width: 280px; }
.wpsc_akst_share_link { display: block; margin: 0px 0px 6px 0px; width: 119px; }

/*-----GENERAL-----*/
#fancy_notification { position: absolute; display: none; }
.wpsc_loading_animation { position: absolute; }
.additional_description_container .additional_description { display: none; }

/*products-page || TOP LEVEL CATEGORY*/
.wpsc_categories { width: 100%; overflow: hidden; }

/*products-page || INSIDE CATEGORY*/
.page .wpsc_main_category_wrap { display: block; }
.page .wpsc_main_category_wrap .wpsc_sub-categories_wrap, .page .wpsc_default_product_list { display: none; }
.wpsc_main_category_wrap.wpsc-current-cat, .wpsc_main_category_wrap.wpsc-cat-ancestor { display: block !important; }
.archive .wpsc_sub-categories_wrap .wpsc_main_category_wrap { display: block; }
.wpsc_categories.inside-category { display: none; }
.archive .wpsc_categories.inside-category { display: none; }
.page  .widget_wpsc_product_specials .wpsc_default_product_list { display: block; }
.wpsc_default_product_list.wpsc_no-product { display: block; }
.wpsc_default_product_list.inside-category { position: relative; width: 100%; }
.wpsc_main_category_wrap .wpsc_category_thumb { position: relative; }
.wpsc_main_category_wrap .wpsc_category_thumb .category-noimg { position: absolute; z-index: 1; top: 0; left: 0; }
.wpsc_main_category_wrap .wpsc_category_thumb .category_thumb_img { position: absolute; z-index: 2; top: 0; left: 0; }
.wpsc_category_grid .wpsc_main_category_wrap { float: left; margin: 0 13px 20px 0; }

/* products-page || PRODUCT LISTING */
#default_products_page_container .wpsc_categories.lastlvl {display: none;}
.default_product_display { float: left; margin: 0 20px 20px 0; }
.default_product_display  .imagecol { width:100% !important; }
.imagecol { float: left;position:relative;  }

.default_product_display .wpsc_product_sku { display: none; }

/* single-products || SINGLE PRODUCT VIEW */
#single_product_page_container, .single_product_display { position: relative; }
.single_product_display span.votetext { height: auto; padding: 10px 0; }
.wpsc_product_rating { width: 100px; overflow: hidden; }
.wpsc_product_rating .star { width: 18px; height: 17px; float: left; }
.wpsc_product_rating .star a {
	display: block;
	text-indent: -999px;
	text-transform: capitalize;
	background: url(/wp-content/plugins/wp-e-commerce/wpsc-core/images/grey-star.gif) center center no-repeat;
}
.single_product_display .wpsc_product_rating .star .selected { background: url(/wp-content/plugins/wp-e-commerce/wpsc-core/images/gold-star.gif) center center no-repeat; }
.single_product_display .wpsc_fb_like { height: 24px; overflow: hidden; }

/*SHOPPING CART PAGE*/
#checkout_page_container {}
table.checkout_cart { width: 100%; }
table.checkout_cart th { text-align: left; }
table.checkout_cart th, table.checkout_cart td { padding: 3px 5px; }
fieldset.wpsc_registration_form { padding: 0; margin: 0; border: none; }