/*forms*/
.gform_wrapper {}
.gform_wrapper .gfield_required, .gform_wrapper .validation_message, .gform_wrapper .validation_error { color: #c00; }
.gform_wrapper .validation_error { padding: 0 0 15px 0; }
.gform_wrapper .gform_edit_link { font-size: 80%; padding: 10px 0; }
.gform_wrapper .gform_edit_link { font-size: 70%; }
.gform_wrapper .gform_heading { padding: 10px 0 15px 0; font-weight: bold; }
.gform_wrapper .gfield.gform_validation_container { visibility: hidden; position: absolute;}
.gform_wrapper .gform_body input, .gform_wrapper .gform_body select, .gform_wrapper .gform_body textarea {
	padding: 2px 3px;
	width: 200px;
	margin-top: 0;
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 22px;
	background:#fff;
	border: 1px solid #9dbfe3;
}
.gform_wrapper .gform_body input:focus, .gform_wrapper .gform_body select:focus, .gform_wrapper .gform_body textarea:focus {
	border: 1px solid #127cc0;
	
	background: #c9d8e8;
	outline: none;
}

.gform_wrapper .gform_body label { font-size:14px; color:#444; font-weight:bold; }
.gform_wrapper .gform_body input { height: 22px; }
.gform_wrapper .gform_body textarea { width: 400px; height: 180px; }
.gform_wrapper .gform_footer input {
	width:53px;
	height:29px;
	cursor:pointer;
	border:none;
	background:transparent url('../images/submit_bg.png') no-repeat;
	overflow: hidden;
	color:#fff;
	line-height:0px;
	display:block;
	text-indent: -999px;
	position:absolute;
	top: 0;
	left: 0;
	margin:0;
}
.product_enquiry-wrapper .gform_footer input{
	left: 335px;
}
.gform_wrapper .gform_footer input:hover {
	background:transparent url('../images/submit_bg-over.png') no-repeat;
}



/*contact us*/
.contact-wrapper { margin: 1em 0; }
.gform_wrapper ul { margin: 0; }

.contact-wrapper li, .contact-wrapper ul { margin: 0; list-style: none; }
.gform_wrapper .gform_body li { padding: 0 0 10px 0; margin: 0; list-style: none; }
.gform_wrapper .gform_body li.gform_hidden { padding:0px; }
.gform_wrapper .gform_body li.gfield.clear { clear: both; }

.contact-form { width: 100%; }

.contact-info h2 { margin-top: 1em; }
.contact-info h4 {
	margin: 10px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #033d79;
}
.contact-info ul li { width: 31%; }
.contact-info table { margin: 0; }
.contact-info table tr td { padding: 1px 0; }
.contact-info .google-maps { margin: 15px 0 0 0; }

/* Project Gallery */
.ngg-gallery-thumbnail img {
    background-color: #fff;
    border: 1px solid #A9A9A9;
    display: block;
    margin: 4px 0 4px 4px;
    padding: 2px !important;
    position: relative;
}
.ngg-gallery-thumbnail img:hover {
    border: 1px solid #A9A9A9;
    display: block;
    margin: 4px 0 4px 4px;
    padding: 2px;
    position: relative;
}
/* Checkout page or Cart Page */
#change_country select, #submit_zipcode {
    display: none;
}



#checkout_tax { 
	left: 5px;
	display: inline-block;
	position: relative;
}
.gst , .gst span {
	font-size: 10px;
	font-weight: bold;
}