/*width*/
.fullwidth { width: 100%; max-width: 100%; }
.globalwidth { width: 960px; max-width: 960px; }

/*wrapper*/
.section-wrapper {
	display: block;
	padding: 0;
	margin: 0 auto;
	clear: both;
	/* change this temporarily for testing the product page */
	/* content is hidden once its overflow the division */
	/*overflow: hidden;*/
	overflow: hidden;
}
.section-pad-wrapper {
	padding: 0;
	margin: 0;
	clear: both;
	/* change this temporarily for testing the product page */
	/* content is hidden once its overflow the division */
	/*overflow: hidden;*/
	overflow: visible;
}
.section-block-wrapper {
	display: block;
	padding: 0;
}
.menu-wrapper.section-wrapper, .menu-pad.section-pad-wrapper {
	
	overflow: visible;
}

.content-wrapper.section-wrapper, .sidebar-wrapper.section-wrapper { clear: none; }

/*WP*/
.alignnone { margin: 0; }
.aligncenter, div.aligncenter { display:block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float:left; margin: 5px 20px 20px 0; }
.aligncenter { display: block; margin: 5px auto 5px auto; }
a img.alignright { float:right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 0; }
a img.alignleft { float:left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin:0; max-width: 98.5%; padding:0; width: auto; }
.wp-caption p.wp-caption-text { font-size:11px; line-height:17px; margin:0; padding:0 4px 5px; }

/*special*/
.hide {display:none;} .show {display:block;} .left, .center { float: left; } .right { float: right; } 

/*IE6 alert*/
#ie6alert {	height:42px; background-color:#fffcd8; width:100%; color:#666; font-size:11px; font-family:Geneva, Arial, Helvetica, sans-serif; padding:8px 0 0 0; z-index: 9999; position:relative; }
#ie6alert div {	width:920px; margin:0 auto; background:url(../images/ie6_alert.gif) top left no-repeat;	padding:0 0 0 40px;	position:relative; }
#ie6alert strong { color:#c80000; display:block; font-size:14px; line-height:16px; }
#ie6alert ul {width:210px; float:right;	background:url(../images/browsers.gif) top left no-repeat; position:absolute; top:0; right:0px; height:31px; }
#ie6alert li { list-style:none; float:left; height:50px; text-indent:-9999em; margin:0 19px 0 0; }
#ie6alert li a { display:block; width:30px;	height:50px; }

/*print*/
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	-ms-filter: none !important; } 
	a, a:visited { color: #444 !important; text-decoration: underline; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } 
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
}

/* El Product Page Styles */

.el-product-wrapper {
	border: 0px solid #000; 
	float: left; 
	width: 700px;
}
.el-prod-div {
	float: left;
	width: 345px;
	margin-bottom: 40px;
	border: 0px solid #000;
	position: relative;
}

/* Produt Title*/
.el-product-title-container {
	float: left;
	width: 160px;
	margin-left: 10px;
} 
.el-product-title-container h2 {
	font-size: 16px;
	font-weight: normal;
	color: #0a57a8;
	height: 40px;
	overflow: hidden;
}
.el-product-title-container h2 a {
	text-transform: uppercase;
}

/* Product Image */
.el-product-image-container {
	float: left;
	width: 156px;
	height: 156px;
	padding: 3px;
	border: 1px solid #bac2bc;
	position: relative;
}
.el-product-image-container a {
	height: 156px;
	display: block;
	text-align: center;
	line-height: 150px;
}
.el-product-image-container:hover {
	background: #18508c;
	border: 1px solid #fff;
}
.el-product-image-container img {
	border: 1px solid #fff;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	vertical-align: middle;
	max-width: 154px;
}
.el-product-image-container img:hover {
	
}

/* Product Price */
.el-price-container {
	float:left;
	width: auto;
	margin: 15px 0px 0px 10px;
}
.el-price-container span.el-sale-price {
	font-size: 24px;
	color: #063D76;
	/*font-weight: bold;*/
}
.el-price-container span.el-old-price {
	font-size: 14px;
	/*font-weight: bold;*/
	padding-left: 10px;
}
.el-old-price sup {
	font-size: 14px;
}
.el-no-price-div em {
    color: #ff0000;
    font-size: 18px;
    font-weight: normal;
}

.el-product-main-desc-container {
	width: 160px;
	float: left;
	margin-left: 10px;
	height: 55px;
	overflow: hidden;
}
.el-product-main-desc-container span {
	font-size: 14px;
}

/* View Details Button */
.el-view-details-container {
    bottom: 0px;
    position: absolute;
    right: 10px;
    width: 160px;
}
.el-view-details-container a {
	display: inline-block;
	color: #063D76;
	padding: 5px 12px 5px 12px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'PT Sans Narrow Bold', sans-serif;
	text-transform: uppercase;
	/* border radius  */
	border: 1px solid #bac2bc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	/* background */
	background: #e8ebe8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8ebe8', endColorstr='#cfd2d0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e8ebe8), to(#cfd2d0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e8ebe8,  #cfd2d0); /* for firefox 3.6+ */ 
	text-shadow: 0.1em #0a57a8;
}
.el-view-details-container a:hover {
	color: #063D76;
	/* background */
	background: #acc71b;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acc71b', endColorstr='#9bb418'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#acc71b), to(#9bb418)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #acc71b,  #9bb418); /* for firefox 3.6+ */ 
}

/* Special Product Wave */
.el-special-product-wave {
	right: -10px;
	background: url('../images/special.png') no-repeat;
    height: 31px;
    position: absolute;
    width: 90px;
    z-index: 10;
}
.el-no-shipping-product {
	background: url(../images/free-shipping.png) no-repeat scroll 0 0 transparent;
	height: 31px;
	position: absolute;
	width: 148px;
	z-index: 10;
	top: 7px;
	right: -4px;
}

/* Pagination if Current */
.current {
	/*font-weight: bold !important;*/
}

/* Single Product Page */

/* Store Pick only style */
.el-store-pick-container {
	clear: both;
	position: relative;
	top: 3px;
}
.el-store-pick-container span {
	color: #033D79;
	font-size: 16px;
	/*font-weight: bold;*/
	padding-top: 18px;
}