/*------------------------------------------------------------------
	[Stylesheet]
	Project:		The Pond
	Version:		1.0
	Last change:	02.22.2012 [Created]
	Assigned to:	Titan Web (Peter Paul Anthony Cuyos)					
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	[Table of Contents]
	1. 	Global
	2.	Header
	3.	Top Menu
	4.	Banner
	5.	Content
	6.	Footer
	7.  Gallery
	

	[Color codes]
	Background:	#262626 (Dark Grey)
	Content:	#3b3b3b (Light Black)
	Header h1:	#a70d00 (Dark Red)
	a (standard):	#0046e4 (Bright Blue)
	a (visited):	#009ce4 (Lighter Blue)

	[Typography]
	Body copy:	12px/1.3 Verdana, Arial, Helvetica, sans-serif;

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	[ 1 Global ]
-------------------------------------------------------------------*/


body {
	/* font-family:'PTSansNarrowBold', Arial sans-serif; */
	font-family:'PT Sans Narrow', sans-serif;
	color:#787466;
	font-size:14px;
	background:#00244a url('../images/background.jpg')  no-repeat top center;
}
.globalwidth_980{
	width:980px;
	
}
.outer-wrapper{

position: relative;
}
.fb_container,.linkedin_container,.banner-nav{
	width:auto;
}
#menu-top-menu ul,.top-menu .sub-menu > li a,#menu-top-menu > li > a,.category-noimg img, .category_thumb_img img, .wpsc_main_category_wrap,.images img, .wpsc_product_gallery li img,.featured-products a, .default_product_display, .related_product, .special,.ngg-album-wrap,.ngg-gallery-thumbnail img,.jspContainer .jspHorizontalBar .jspTrack .jspDrag .j_nav {
	behavior: url(/?pie=true);
	position: relative;
}
.product_single,.prodtitle,.wpsc_category_name,.banner-text-block .banner-title,.default_product_display h2,.wpsc_description,.wpsc_category_decription,.wpsc_paging,.child-item .content_container,.home_list li a,.common_container_2 .title a,.cloud .content,.cloud .content .cloud_data{
	overflow:hidden;
}
h1,h2,h3,h4,h5,h6,.title{
	
	color: #4a4a4a;
	
	margin:0;
	
	/*text-transform: capitalize;*/
}


h1.home-title , .common_container .title ,.leadin .title,.page-title,.news-title,.category_frontpage li a ,.menu a,.parent_container .child-item a,.wpsc_category_name,.wpsc_product_title {
	/*text-transform: lowercase;*/
	overflow:hidden;
	font-weight: normal;
}
h1.home-title span, .common_container .title span {
	color: #a66226;
	font-family:'allerregular';
}
h1.home-title span{
	color:#955d22;

	}

h1.home-title span,h1.home-title div{
	font-size:26px;
	font-family:'alleritalic';

	}
h1.home-title{

	text-transform: none !important;
	font-size:39px;
	color:#4a4a4a;
	font-weight:bold;
}
h1,.title {
	
	/*font-size: 30px;*/
	font-size: 28px;
	text-transform: uppercase;
	color:#4a4a4a;
	
}

h2 {
	font-size: 28px;
	margin-bottom:12px;
}

h3 {
	text-transform: capitalize;
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	
}

h6 {
	
}

a {
	color:#063d76;

}

a:hover,a:focus {
	text-decoration: none;
	color: #0563c5;
}

input, button, textarea, select {}
ul li {
	list-style-image: url('../images/list_style_bg.png');
	margin:0;
	list-style-position:inside;
}

table,ul {
	margin-top: 0;
	margin-bottom: 10px;
}

p{
	line-height:1.42857;
}
.text_center{
	text-align:center;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.padding_bottom_15 {
	padding-bottom: 15px;
}
.padding_bottom_20 {
	padding-bottom: 20px;
}

.padding_bottom_33 {
	padding-bottom: 33px;
}
.padding_bottom_40{
	padding-bottom:40px;
}
.margin_top_2 {
	margin-top: 2px !important;
}
.margin_top_5 {
	margin-top: 5px !important;
}

.margin_top_8 {
	margin-top: 8px;
}
.margin_top_10 {
	margin-top: 10px;
}

.margin_top_15 {
	margin-top: 15px;
}

.margin_top_20 {
	margin-top: 20px !important;
}

.margin_top_30 {
	margin-top: 30px !important;
}

.margin_top_40 {
	margin-top: 40px;
}
.margin_top_50 {
	margin-top:50px;
}
.margin_top_25 {
	margin-top: 25px;
}

.margin_left_10 {
	margin-left: 10px;
}

.margin_right_28 {
	margin-right: 28px;
}
.margin_right_30 {
	margin-right: 30px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_right_15 {
	margin-right: 15px;
}

.margin_right_20 {
	margin-right: 20px;
}
.margin_right_25 {
	margin-right: 25px;
}
.margin_right_16 {
	margin-right: 16px;
}
.margin_right_5 {
	margin-right: 5px;
}
.margin_right_12 {
	margin-right: 12px;
}

.margin_right_25 {
	margin-right: 25px;
}

.margin_right_0 {
	margin-right: 0 !important;
}

.margin_bottom_10 {
	margin-bottom: 10px;
}
.margin_bottom_20 {
	margin-bottom: 20px !important;
}
.margin_bottom_50 {
	margin-bottom: 50px !important;
}
.margin_bottom_40 {
	margin-bottom: 40px !important;
}

.padding_right_0 {
	padding-right: 0 !important;
}

.padding_right_20 {
	padding-right: 20px;
}

.padding_left_10 {
	padding-left: 10px;
}
.padding_left_18 {
	padding-left: 18px;
}
.padding_left_20 {
	padding-left: 20px;
}

.padding_top_10 {
	padding-top: 10px;
}
.padding_top_30 {
	padding-top: 30px;
}
.padding_top_40 {
	padding-top: 40px;
}
.padding_top_20 {
	padding-top: 20px;
}

.padding_bottom_80 {
	padding-bottom: 80px;
}

.padding_bottom_10 {
	padding-bottom: 10px;
}
.padding_bottom_30 {
	padding-bottom: 30px;
}

.no_margin {
	margin: 0 !important;
}

.width_100 {
	width: 100%;
}

.hide{
	display:none !important;
	
}
.top_border_solid{
	border-top:1px solid  #bebebe;
}
.main-content .left_c {
	width: 417px;
}
.main-content .right_c{
	width: 258px;
}

.become-a-member .left_c {
	width: 505px;
}
.become-a-member .right_c{
	width: 435px;
}
 .left_c {
	width: 520px;
}
.right_c{
	width: 400px;
}
.featured_image {
	position: relative;

	
}
.featured_image:hover {
	
	background-color:#397eb7;
	
}

.magnifying {
	background: url('../images/magnifying_bg.png') no-repeat;
	width: 21px;
	height: 18px;
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#sub-page p,#front-page p {
	margin-top: 0 !important;
	margin-bottom: 1em;
	text-align: justify;
	text-justify: inter-word;
}

#sub-page p.wpsc_soldout,#front-page p.wpsc_soldout {
	font-size: 13px;
	padding: 4px 0 0;
}
.breadcrumbs .current  {
	
	color:#0b60b8;
}
.breadcrumbs span.arrow{
	/*font-weight:bold;*/
	color:#0b60b8;
}
.breadcrumbs a:hover {
	
	
}

.breadcrumbs a {
	text-decoration: none;
	text-transform: capitalize;
	font-weight: normal;
}

.breadcrumbs {
	font-size: 14px;
	text-transform: capitalize;
	/*font-weight:bold;*/
	margin: 0 0 10px;
	color: #063D76;
}

.testimonialItem{
	background: url('../images/testimonial_bg.png') no-repeat left top;
	padding-left:30px;
}

.read_more {
display: inline-block;

cursor: pointer;
}

.titan-slide-more {
	font-size: 16px;
}

/**paging**/


.page-nav a,.ngg-navigation a,.wpsc_paging a {
	margin: 0 0 0 5px;
}

.page-nav-container span,.wpsc_paging span,.page-nav .current,.ngg-navigation span{
	background: #afcd1d;
	color: #0563c5;
	border:1px solid #bac2bc;
	padding: 2px 8px !important;
	margin: 0 2px !important;
}

.page-nav-container a,.wpsc_paging a,.ngg-navigation a {
	color: #0563c5;
	border:1px solid #bac2bc;
	padding: 2px 8px !important;
	margin: 0 2px !important;
}

.page-nav-container a:hover,.wpsc_paging a:hover,.ngg-navigation a:hover {

	color: #063d76;
	background: #afcd1d;
	
}
.page-nav-container .page-nav{
	float:left;

	}
.page-nav-container{
	width: 100%;
	text-align:right;
}



/**paging**/


/*------------------------------------------------------------------
	[ 2 Header ]
-------------------------------------------------------------------*/
.sidebar_extra{
	width:233px;
	background: url('../images/add-cart-wrapper_bg.jpg') repeat-x;
	height:8px;
}
.social-links{
	width:300px;
}
.facebook a,.linkedin a,.twitter a,.googleplus a {
	width:32px;
	height:32px;
	display:block;
}
.facebook a{
	background:url('../images/fb.png') no-repeat;
}
.linkedin a{
	background:url('../images/linkedin.png') no-repeat;
}
.googleplus a{
	background:url('../images/googleplus.png') no-repeat;
}
.twitter a{
	background:url('../images/twitter.png') no-repeat;
}
.header-search-wrapper-over{
	background:url('../images/sprite.png') 0 -31px !important;
}
.header-search-wrapper {
	background:url('../images/sprite.png') 0 0;
	width:275px;
	height:31px;
	}
.header-search-wrapper  input,.header-search-wrapper  button{
	float:left;
	margin-top:0;
	}
.header-search-wrapper  input{
	width:213px;
	height:25px;
	margin-left:1px;
	margin-top:1px;
	border:none;
	background: none no-repeat scroll 0 0 transparent;
	padding:2px 10px;
	}
.header-search-wrapper  button{
	
	background: none no-repeat scroll 0 0 transparent;
	outline:none;
	  color: #000000;
	  border: none;
	  -webkit-appearance:none;
	  cursor: pointer;
	  font-weight: bold;
	  height: 29px;
	  padding-bottom: 2px;
	  width: 39px;
}

.header-search-wrapper {
	width:275px;
	height:31px;
	display:block;

}
.header-search-wrapper {
	position:absolute;
	right:0;
	top:70px;
	z-index:100;
}

.headinfo-wrapper{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	/*font-weight:bold;*/
	color:#004e86;
	font-size:16px;
	height:58px;
}

.header-wrapper .logo-wrapper{
	position:absolute;
	top:82px;
	left:0;

	}
.header-wrapper{
	height:288px;
	position:relative;
	
}
.content-wrapper,.header-top-group-outer,.content-pad{
	overflow:visible !important;
}
.header-top-group-outer{
	max-width:1474px;
	
	height:347px;
}
.header-top-group-inner,.header-top-group-outer{
	position:relative;

	}
	.header-top-group-left{
	left:0;
	top:0;
	}
	.header-top-group-right{
	right:0;
	top:0;
	}
	.header-top-group-inner{
	/*background:url('../images/header_bg.jpg')  no-repeat;*/
	height:347px;
	width:960px;
	
	overflow:visible !important;
	
	}
.header-top-group-left,.header-top-group-right{
	width:247px;
	height:347px;
	position:absolute;
	z-index:100;
	}
.header-top-group-wrapper{
	position:relative;
	overflow:visible !important;
}
.header-top-group-left{
	/*background:url('../images/header_banner_left_bg.jpg') no-repeat;*/
}
.header-top-group-right{
	/*background:url('../images/header_banner_right_bg.jpg') no-repeat;*/
}

.header-top-group-wrapper{
	
}
/*------------------------------------------------------------------
	[ 3 Top Menu ]
-------------------------------------------------------------------*/
/* Structure and General Styling */
.top-menu { height:59px;
background:url('../images/menu_bg.jpg') repeat-x;
overflow:visible !important;
}
.menu-wrapper { height:51px; position:relative; z-index:100; }
#menu-top-menu,
#menu-top-menu li,
#menu-top-menu a {
  display: block;
}
#menu-top-menu li,
#menu-top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu-top-menu ul {
  display: none;
  position: absolute;
  z-index: 2000;
}
#menu-top-menu li {
  float: left;
  position: relative;
  z-index: 100;
}
#menu-top-menu li:hover > ul {
  display: block;
}
#menu-top-menu > li:hover > ul {
  left: 0;
  top:40px;
}
#menu-top-menu a {
  color: #FFFFFF;

  font-weight: normal;
  text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.75 );
}
#menu-top-menu a:hover,
#menu-top-menu a:active,
#menu-top-menu a:focus {
  color: #FFFFFF;
  text-decoration: none;
}
 
/* Top-level Styling */
#top-menu {
  padding:10px;
  bottom: 0;
  height: 31px;
  position: absolute;
  width: 940px;
 
}
#top-menu,#enu-top-menu,.menu-pad, .menu-wrapper{
	 z-index:1000;
}
#menu-top-menu {
  height: 31px;
  margin: 0 auto;
  position: relative;
  width: 940px;
}
#menu-top-menu > li {
  height: 41px;
  margin-right:10px;
}
#menu-top-menu > li > a {
  font-size: 21px;
  padding: 2px 14px 6px;
  /*padding: 5px  14px;*/
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#menu-top-menu > li:first-child > a {
  border-left: none;
}
#menu-top-menu > li:hover > a,
#menu-top-menu > .current-menu-item > a,
#menu-top-menu > .current-menu-item:hover > a,
#menu-top-menu > .current-menu-ancestor > a {
  
 background:url('../images/menu_item_bg.jpg') repeat-x;
}
 
/* Sub-menu Styling and Positioning. Accounts for infinite levels of dropdowns. */
 
#menu-top-menu ul {
  background: transparent;
  width: 146px;
}
#menu-top-menu ul > li {
  width: 146px;
}
#menu-top-menu ul > li > a {
  background:url('../images/sub_menu_item_bg.jpg') repeat-x;
 
  font-size: 21px;
  padding: 5px 10px 2px;
}
#menu-top-menu ul > li:hover > a,
#menu-top-menu ul > .current-menu-item > a,
#menu-top-menu ul > .current-menu-item:hover > a,
#menu-top-menu ul > .current-menu-ancestor > a {
  background: #EEEEEE;
  background:url('../images/sub_menu_item_bg-over.jpg') repeat-x;
  color: #fff;
}
#menu-top-menu li > ul li:hover > ul {
  left: 146px;
  top: 0;
}
/*------------------------------------------------------------------
	[ 4 Banner ]
-------------------------------------------------------------------*/
.banner {
	position:relative;
}

.banner .banner-image .img_c{
	position:relative;
	
	
}
.banner-wrapper{
	position:relative;
	overflow:visible !important;
	height:350px;
}
.banner-pad{
	height:350px;
	overflow:visible !important;
	position:relative;
}
.banner-nav a:hover,.banner-nav a.activeSlide{
	background:url('../images/banner_nav_bg-over.png') no-repeat;

	}
.banner-nav a{
	text-indent: -9999px;
	display:block;
	width:15px;
	height:15px;
	margin-left:3px;
	float:left;
	background:url('../images/banner_nav_bg.png') no-repeat;
	}
.banner-nav{
	position:absolute;
	
	z-index:100;
	bottom:5px;
	right:50%;
	
	padding:3px 8px;
	
}
.banner-bg{
	width:708px;
	height:79px;
	position:absolute;
	z-index:50;
	bottom:0;
	left:0;
	background: #000;
	opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
}

.banner-text .banner-title{
	font-size:32px;
	text-transform: capitalize;
	}
.banner-text{
	position:absolute;
	width:656px;
	z-index:100;
	bottom:0;
	left:15px;
	height:75px;
	font-size:20px;
	
	color:#fff;
}
.youtubevid{
	position:absolute;
	
	z-index:100;
	bottom: 170px;
	right: 40%;
	background: url('../images/video_bg.png') no-repeat;
	display:block;
	width:232px;
	height:142px;
	
}
.youtubevid:hover{
	background: url('../images/video_bg-over.png') no-repeat;

	
}
/*------------------------------------------------------------------
	[ 5 Content ]
-------------------------------------------------------------------*/
.main-content{
	width:709px;
}
.mid-wrapper{
	
}
.mid-group-outer{
	max-width:1474px;

	
}
.mid-pad{
	
	width:960px;
}

.mid-pad,.mid-group-outer{
	position:relative;

	}
	.mid-group-left{
	left:0;
	top:0;
	}
	.mid-group-right{
	right:0;
	top:0;
	}

.mid-group-left,.mid-group-right{
	width:247px;
	padding-bottom:10px;
	position:absolute;
	z-index:100;
	
	}
.mid-group-wrapper{
	position:relative;
	overflow:visible !important;
	background: #fff;
}
.mid-group-left{
	/*background:#002248 url('../images/mid_group_left_bg.jpg') no-repeat ;*/
}
.mid-group-right{
	/*background:#001934 url('../images/mid_group_right_bg.jpg') no-repeat;*/
}

.sidebar-wrapper{
	z-inde:1;
	width:233px;
	background-color:#f0f0f0;
}
.add-cart-wrapper {
	background:url('../images/add-cart-wrapper_bg.jpg') repeat-x;
	padding: 10px 10px 0 10px;
	width: 213px;
	display:block;
	}
	
.add-cart-wrapper h4{
	background:url('../images/cart.png') no-repeat;
	padding-left:35px;
	font-size:21px;
	color:#fff;
	font-weight: normal;
}
.sidebar-product-categories ul li:hover a {
	color:#fff;
}
.sidebar-product-categories ul li:hover a span{
	background:url('../images/side_bar_list_bg-over.png');
}
.sidebar-product-categories ul li a span{
	background:url('../images/side_bar_list_bg.png');
	display:block;
	position:absolute;
	width:4px;
	height:7px;
	left:0;
	top:11px;
}
.sidebar-product-categories ul li:hover{
	background:url('../images/side_bar_list-over.jpg') repeat-x;
	

	}
.sidebar-product-categories ul li a:hover{
	color:#fff;

	}
.sidebar-product-categories ul li a div{
	margin-left:10px;

	}
.sidebar-product-categories ul li a{
	position:relative;
	display:block;
	padding:3px 0px 3px 12px;
	border-bottom:1px dotted #9d9d9d;
	font-size:14px;
	color:#18508c;
	width:200px;
	line-height:26px;
	
	}
.sidebar-product-categories ul li{
	cursor:pointer;
	padding-left: 8px;
	height:34px;
	list-style:none;
	overflow:hidden;
	}
.sidebar-product-categories ul{
	margin-top:0;

	}
.sidebar-product-categories{
	padding-bottom:10px;
}
.sidebar-product-categories h4{
	padding:10px 10px;
	font-size:21px;
	width: 213px;
	color:#fff;
	background:url('../images/sidebar-product-categories-title-bg.jpg') repeat-x;
	height:30px;
	font-weight: normal;
}
.sidebar-showroom h4{
	padding:10px 10px;
	font-size:21px;
	width: 213px;
	color:#fff;
	background:url('../images/sidebar-showroom-title-bg.jpg') repeat-x;
	height:30px;
	font-weight: normal;
}
.cart_info{
	width:132px;
	color:#fff;
	font-size:16px;
}
.checkout a{
	background:url('../images/sprite.png') 0 -62px;
	display:block;
	width:68px;
	height:31px;
}
.checkout a:hover{
	background:url('../images/sprite.png') 0 -92px;
}
.show_room_content .tel span{
	color:#1c702f;

	}
.show_room_content .tel{
	font-size:24px;

	}
.show_room_content .address{
	font-size:16px;
	/*font-weight:bold;*/
	border-bottom:1px dotted #9d9d9d;
	}
.show_room_content .office_hours .office_title{
	color:#1c702f;
	font-size:16px;

	}
.show_room_content .office_hours .day_sched  .label{
	width: 120px;
	display: inline-block;
	}
.show_room_content .office_hours{
	

	}
	
.show_room_content{
	/*font-family:'PTSansBold', Arial, sans-serif;*/
	color:#494949;
	
}
.side_item .side_content .side_item_title{
	font-size:30px;
	color:#4a4a4a;
	}
.side_item .side_content{
	width:110px;
	
}
.side_item{
	height:132px;
}
.shipping_info_c{
	background:url('../images/shipping_info_home.png') no-repeat top left;
}
.help_centre_c{
	background:url('../images/help_centre_home.png') no-repeat top left;
}
#related_products .image img { border: 0; }
.featured-products a .product_name,.default_product_display .prodtitle,.related_product .title,.special .product_name{
	color:#063d76 !important;
	width:140px;
	padding:10px;
	height:28px;
	font-size:14px;
	font-weight:bold;
	font-family:'PTSansBold', Arial, sans-serif;
	text-align:center;
	background:url('../images/product_name_bg.jpg') repeat-x;
	overflow: hidden;
}
	.default_product_display .prodtitle,.related_product .title {
		overflow:hidden;
		line-height:20px;
	}
	.featured-products a .product_image_featured img{
	

	}
	.related_product{
	float:left;
	}
.featured-products a .product_image_featured, .imagecol a,.related_product .image,.special .product_image_featured{
	text-align:center;
	margin:5px 0;
	display:block;
	width:100%;
	}
	.related_product .image{
	width:160px;
	height:150px;
	overflow: hidden;
	}
	
.featured-products a .current-price,.default_product_display .old,.related_product .current-price,.special .current-price{
	background:url('../images/special_price_bg.jpg') no-repeat;
	text-align:center;
	padding:5px 0;
	color:#fff !important;
	width:160px;
	font-weight:normal;
	height:23px;

	}
.featured-products a .price,.default_product_display .price,.related_product .price,.special .price{
	background:url('../images/price_bg.jpg') no-repeat;
	text-align:center;
	font-weight:normal;
	padding:5px 0;
	color:#4c4c4c !important;
	width:160px;
	height:16px;

	}
.featured-products a:hover .view_details ,.default_product_display a:hover .view_details,.related_product a:hover .view_details,.special a:hover .view_details{
	
	background:url('../images/view_details_bg-over.jpg') repeat-x;
	}
.featured-products a .view_details ,.default_product_display .view_details,.related_product .view_details,.special .view_details{
	background:url('../images/view_details_bg.jpg') repeat-x;
	text-align:center;
	font-weight:normal;
	color:#094f98;
	width:160px;
	padding:7px 0;
	height:20px;
	text-transform: uppercase;
}
.featured-products a,.default_product_display,.related_product,.special{
	width:160px;
	height:305px;
	
	display:block;
	margin-right:16px;
	border:1px solid #bac2bc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
	.featured-products a,.default_product_display,.related_product,.special{
	position:relative;
	}
	.wpsc_sale_item{
		background:url('../images/special.png') no-repeat;
		width:84px;
		height:26px;
		position:absolute;
		top: 58px;
		right: -5px;
		z-index:10;
	}
	.wpsc_sale_item_single{
		background:url('../images/special.png') no-repeat;
		width:84px;
		height:26px;
		position:absolute;
		top: 12px;
		right: -5px;
		z-index:10;
	}
.featured-products .featured-product-container{
	height:330px;
}
.productcol{
	display:inline-block;
}
.jspContainer .jspHorizontalBar {
background-color: transparent;
height: 28px;
}
.jspContainer .jspHorizontalBar .jspTrack {
background: none transparent;
}

.wpsc_product_gallery li img{
	border:1px solid #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	}


.wpsc_product_gallery {
	width: 238px;
	margin-top: 10px;
}



.wpsc_product_gallery li {
	list-style-type: none;
	list-style-image: none;
	float: left;
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 52px;
	height: 52px;
	overflow: hidden;
}
.wpsc_product_gallery li.last {
	margin-right: 0;
}
.wpsc_product_sku{
	font-family:'PTSansBold', Arial, sans-serif;
	font-size:12px;

	}
.product-title{
	font-family:'PTSansBold', Arial, sans-serif;
	/*text-transform:uppercase;*/
	font-weight:bold;
	color:#033d79;
	font-size:20px;
}
.price_display .oldprice{
	color:#ff0000;
	font-size:14px;
	text-decoration: line-through;
	}
.price_display {
	font-family:'PTSansBold', Arial, sans-serif;
}
.product_content{
	width:454px;
}
.price_display .price{
	
	color:#4a4a4a;
	font-size:24px;
}
.wpsc_buy_button_container input:hover{
	background: transparent url('../images/sprite.png') 0 -155px  !important;

	}
	.wpsc_quantity_title{
	display:inline-block;
	}
	.wpsc_quantity_update input{
	margin:0;
	padding:0;
	
	}
	.wpsc_quantity_update{
	width:80px;
	display:inline-block;
	}
	.single-addcart{
	width:402px;
	}
	.wpsc_product_variation select{
		margin-top:0;
		margin-left:5px;
	}
	.order_wrapper{
	
	}
	.wpsc_product_variation table{
	margin:0;
	}
	.wpsc_product_variation{
		display:inline-block;
		margin-right: 10px;
	}
	.enquiry-title{
	color:#033d79;
	font-size:18px;
	text-transform: capitalize;
	/*font-weight:bold;*/
	}
	.wpsc-add-to-cart-button
	{
	width:420px;
	display:inline-block;
	}
.wpsc_buy_button_container input{
	margin:0;
	padding:0;
	width: 77px;
height: 31px;
cursor: pointer;
border: none;
background: transparent url('../images/sprite.png') 0 -124px !important;
overflow: hidden;
color: #fff;
line-height: 0px;
display: block;
text-indent: -999px;
}

.title{
	color:#4a4a4a;
	font-size:30px;
	font-weight:bold;
	text-transform: capitalize;
	font-family:'PTSansNarrowBold', Arial, sans-serif;
}
.product_enquiry-wrapper .gform_body li.message{
	left:460px;

	}
.product_enquiry-wrapper .gform_body li.phone{
	left:230px;

	}
.product_enquiry-wrapper .gform_body li.state{
	top:65px;
	left:345px;
	}
.product_enquiry-wrapper .gform_body li.postcode{
	top:65px;
	left:230px;
	}
.product_enquiry-wrapper .gform_body li.email{
	top:65px;

	}
.product_enquiry-wrapper .gform_body li.address{
	top:130px;

}
.product_enquiry-wrapper .gform_body li.captcha {
	top: 190px;
}
.product_enquiry-wrapper .gform_body li,.contact-form .gform_body li{
	position:absolute;
	
}
 .gform_body {
 position:relative;
	}
	
	.contact-form .gform_body li.message{
	top:0;
	left:250px;
	}
        .contact-form .gform_body li.captcha {
            top: 153px;
            left: 250px;
            border:none;
        }
        
        .contact-form .gform_body li.captcha img{
                margin: 7px 0;
        }
	.contact-form .gform_body li.email{
	top:65px;
	}
	.contact-form .gform_body li.phone{
	top:130px;
	}
	.contact-form .gform_body li.subject{
	top:195px;
	}
	.contact-form .gform_footer, .product_enquiry-wrapper .gform_footer{
	width:100%;
	position:relative;
	height:50px;
	}
	.contact-form .gform_body{
	height:250px;
	
	}
.product_enquiry-wrapper .gform_body {
	
	height: 305px;
	
}
.contact-form .gform_wrapper .gform_body input[type='text']{
	
	width:220px;
	
	}
.contact-form .gform_wrapper .gform_body textarea.medium{
	width:448px;
	height: 118px;
}
.product_enquiry-wrapper .gform_wrapper .gform_body input[type='text']{
	
	width:210px;
	
	}
.product_enquiry-wrapper .gform_wrapper .gform_body input.large{
	width:440px;

	}
.product_enquiry-wrapper .gform_wrapper .gform_body input.small{
	width:95px;

	}
.product_enquiry-wrapper .gform_wrapper .gform_body textarea.medium{
	width:240px;
	height:153px;
}
.gform_body{
	font-family:'PTSansBold', Arial, sans-serif;
	font-size:14px;
}
.gform_body .gfield_label_focusin {
	color: #033d79 !important;
}


.product_information,.product_enquiry-wrapper{
	background:url('../images/horizontal_end.png') no-repeat bottom left;
}
.related-product-title{
	font-size:24px;
	font-weight:bold;
	color:#4a4a4a;
}

.wpsc-purchase-log-transaction-results{
	
	width:100%;
}
/*
.jspContainer .jspHorizontalBar .jspTrack .jspDrag {
background: transparent url(../images/scrollbar.png) no-repeat top center;
width:68px !important;
}
*/
.jspContainer .jspHorizontalBar .jspTrack .jspDrag{
	background:none;
}
.jspContainer .jspHorizontalBar .jspTrack .jspDrag .j_nav{
	background:url('../images/j_nav.jpg') repeat-x;
	display:block;
	width:100%;
	height:24px;
	
	display:block;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	}
.jspContainer .jspHorizontalBar .jspTrack .jspDrag .j_nav_center{
	background:url('../images/j_nav_center.jpg') no-repeat;
	display:block;
	width:15px;
	height:24px;
	display:block;
	position:absolute;
	z-index:10;
	top:0;
	left:50%;
}

.jspContainer .jspHorizontalBar .jspTrack .jspDrag{
	position:relative;
}
.featured-products{
	background:url('../images/scrollbar_bg.png') no-repeat bottom left;
	height:354px;
}
.page-featured{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left:10px;
	border:2px solid #09417c;
}

.wpsc_container.catlevel .wpsc_categories.inside-category { display:block; }
.wpsc_container.catlevel .wpsc_default_product_list { display:block; }

.wpsc_main_category_wrap{
	width:128px;
	height:174px;
	border:1px solid #bac2bc;
	
}
.wpsc_category_name{
	display:block;
	height:28px;
	font-size:12px;
	width:108px;
	padding:10px;
	color:#fff !important;
	/*font-weight:bold;*/
	text-align:center;
	text-transform:uppercase;
	background:url('../images/category_listing_name_bg.jpg') repeat-x;
	font-family: 'PTSansBold', Arial, sans-serif;
}
.wpsc_category_name em {
	font-style: normal;
	display: block;
	height: 28px;
	overflow: hidden;
	
}
.category-noimg img,.category_thumb_img img,.wpsc_main_category_wrap{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	}
.category-noimg,.category_thumb_img{
	padding:2px;
	display:block;	
}

.default_product_display .imagecol { height:164px; }

.ngg-album-wrap .ngg-view:hover{
	background: url('../images/gallery_view_bg-over.jpg') repeat-x;

	}

.ngg-album-wrap .ngg-view{
	background: url('../images/gallery_view_bg.jpg') repeat-x;
text-align: center;
font-weight: normal;
color: #fff !important;
width: 156px;
padding: 2px 0;
height: 16px;
text-transform: uppercase;
-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;

	}
.ngg-album-wrap .ngg-thumb{
	width:156px;
	height:97px;

	}
.ngg-album-wrap .ngg-albumtitle{
	color: #063d76 !important;
width: 140px;
	padding: 8px 8px 10px;
height: 30px;
	font-size: 13px;
	font-weight: bold;
	font-family: 'PTSansBold', Arial, sans-serif;
	text-align: center;
	background: url('../images/product_name_bg.jpg') repeat-x;
	margin:0;
}

.ngg-album-wrap{
	
	width: 156px;
	height: 165px;
	display: block;
	margin-right: 16px;
	border: 1px solid #bac2bc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:20px;
}
.ngg-gallery-thumbnail img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/**custom post children list**/
.parent_container{
	
}
.child-item .featured_image {
	width: 205px !important;
}





.child-item .content_container .child-title{
	font-family:'PTSansBold', Arial, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#033d79;
	}
.child-item .content_container {
	width: 100%;
	
}

.child-item {
	width: 100%;
}


/**custom post children list**/
.pdf_download_container li{
	list-style: none;
	list-style-image: none;
	width:600px;
}
.download_link a{
	text-transform: capitalize;

	}
.download_link {
	position:relative;
	display:inline-block;
	height:32px;
	width:100%;
	}
.download_link  span.pdf_content{
	
	left:40px;
	bottom:0;
	position: absolute;
	}
.download_link  span.pdf_bg{
	background:url('../images/pdf_icon.png') no-repeat left center;
	position:absolute;
	display:block;
	height:32px;
	width:32px;
	left:0;
	bottom:0;
	margin-top: 4px;
	
}

.read_more{
	/*background:url('../images/read_more_bg.png') no-repeat right center;*/
	padding-right:15px;
	height:14px;
	font-size:12px;
	
	font-weight:bold;
}
.read_more:hover{
	text-decoration: underline;
	
}
.logdisplay{
	width:100%;
}
.customer_details{
	width:50%;
}
.head_links span{
	padding:5px 10px;
font-family:'PTSansNarrowBold', Arial, sans-serif;
font-size:15px;
	}
.head_links .my_account{
	border-right:1px solid #c9deec;
	border-left:1px solid #c9deec;
	
	}
.head_links{
	width:290px;
	position:absolute;
	top:25px;
	left:370px;
}

/**login**/
/*** Login/Register ***/
#wpmem_login , #wpmem_reg {}

#wpmem_reg fieldset, #wpmem_login fieldset {
	border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
#wpmem_reg {
	margin-top:20px  !important;
}
#wpmem_reg legend, #wpmem_login legend {
	font-size: 26px;
    font-weight: normal;
    padding: 8px;
	background: none;
	color:#4a4a4a;
	border: none;
	font-family: 'ballparkweiner',Arial,Helvetica,Sans-serif;
}

#wpmem_reg label.text, #wpmem_reg label.checkbox, #wpmem_reg label.textarea, #wpmem_reg label.select, #wpmem_login label {
	background: none;
	border: none;
	
	font-size: 16px;
    font-weight: bold;
}

#wpmem_reg .div_text, #wpmem_reg .div_checkbox, #wpmem_reg .div_textarea, #wpmem_reg .div_select, #wpmem_login .div_text {
	background: none;
}

#wpmem_reg .dropdown, #wpmem_reg .textbox, #wpmem_login .textbox, #wpmem_reg .username, #wpmem_login .username, #wpmem_reg .password, #wpmem_login .password {
	margin-top: 0;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 13px;
}

#wpmem_reg .button_div, #wpmem_login .button_div {
	background: none;
	border: none;
}

#wpmem_reg .buttons, #wpmem_login .buttons {
	font-style: italic;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-khtml-border-radius: 9px;
	background-color: #f00067;
	border-color: #f00067;
	cursor: pointer;
	
	text-transform: Capitalize;
}

#wpmem_reg .buttons:hover, #wpmem_login .buttons:hover {
	background-color: #6abbff;
	border-color: #300c47;
	color: #300c47;
}
#wpmem_login input[type="submit"]:hover,#loginform input[type="submit"]:hover{
	background: transparent url('../images/login-over.png') no-repeat;
}
#wpmem_login input[type="submit"],#loginform input[type="submit"]{
	width: 45px;
height: 30px;
cursor: pointer;
border: none;
background: transparent url('../images/login.png') no-repeat;
overflow: hidden;
color: #fff;
line-height: 0px;

text-indent: -999px;



}
#wpmem_reg input[type="submit"]:hover{
	background: transparent url('../images/submit_bg-over.png') no-repeat;
}
#wpmem_reg input[type="submit"]{
	width: 53px;
height: 29px;
cursor: pointer;
border: none;
background: transparent url('../images/submit_bg.png') no-repeat;
overflow: hidden;
color: #fff;
line-height: 0px;

text-indent: -999px;



}

#wpmem_reg input[type="reset"]:hover{
	background: transparent url('../images/clear-form-over.png') no-repeat;
}
#wpmem_reg input[type="reset"]{
	width: 76px;
height: 30px;
cursor: pointer;
border: none;
background: transparent url('../images/clear-form.png') no-repeat;
overflow: hidden;
color: #fff;
line-height: 0px;

text-indent: -999px;



}

#wpmem_msg .error,.wpmem_msg p{
	padding:0 5px;
	
}
#wpmem_reg .form,#wpmem_msg .error,.wpmem_msg p{
	color:#FF0000;
}
#wpmem_reg .noinput {
height: 32px;
padding-top: 4px;
padding-left: 0;
color: #666;
}
/**login**/

.wpsc_product_quantity input[type="submit"]:hover{
	background: transparent url('../images/update-over.png') no-repeat;
}
.wpsc_product_quantity input[type="submit"]{
	width: 57px;
height: 30px;
cursor: pointer;
border: none;
background: transparent url('../images/update.png') no-repeat;
overflow: hidden;
color: #fff;
line-height: 0px;

text-indent: -999px;



}
.wpsc_product_remove input[type="submit"]:hover{
	background: transparent url('../images/remove_bg-over.png') no-repeat;
}
.wpsc_product_remove input[type="submit"]{
	width: 57px;
height: 30px;
cursor: pointer;
border: none;
background: transparent url('../images/remove_bg.png') no-repeat;
overflow: hidden;
color: #fff;
line-height: 0px;

text-indent: -999px;



}
.wpsc_make_purchase input[type="submit"]:hover{
	background: transparent url('../images/purchase-over.png') no-repeat;
}
.wpsc_make_purchase input[type="submit"]{
	width: 64px;
height: 30px;
cursor: pointer;
border: none;
background: transparent url('../images/purchase.png') no-repeat;
overflow: hidden;
color: #fff;
line-height: 0px;

text-indent: -999px;



}
.wrap input[type="submit"]:hover{
	background: transparent url('../images/save_profile-over.png') no-repeat;
}
.wrap input[type="submit"]{
	width: 80px;
height: 30px;
cursor: pointer;
border: none;
background: transparent url('../images/save_profile.png') no-repeat;
overflow: hidden;
color: #fff;
line-height: 0px;

text-indent: -999px;



}
.wpsc_checkout_table{
	width:50%;
}
.main-content textarea:focus,.main-content select:focus{
	border: 1px solid #127cc0;
	
	background: #c9d8e8;
	outline: none;

	}
.main-content textarea,.main-content select{
	padding: 2px 3px;


	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 22px;
	background: #fff;
	border: 1px solid #9dbfe3;

	}
	.product_form{
	width:420px;
	}
	.wpsc_checkout_table input[type="text"]{
	width:220px;
	}
.main-content input[type="text"]:focus,.main-content input[type="password"]:focus{
	border: 1px solid #127cc0;
	
	background: #c9d8e8;
	outline: none;

	}
	.wrap input[type="text"] ,.wrap input[type="password"],.wrap textarea{
	 width:210px;
	 
	}
.main-content input[type="text"],.main-content input[type="password"]{
	padding: 2px 3px !important;
height:22px;
font-family: arial, sans-serif !important;
font-size: 12px !important;
line-height: 22px !important;
background: #fff !important;
border: 1px solid #9dbfe3 ;
}
.header-top-group-wrapper{
	z-index:100;
}
.mid-wrapper{
	position:relative;
	z-index:1;
}
.order_wrapper .wpsc_quantity_title{
	line-height:2.3;
	margin-right: 10px;
}
.order_wrapper{
	

	}
.preview-products-container li{
	list-style-image:none;
	
	
}
.content {}
.entry-meta { display:none; }
.entry-utility { display:none; }



/*------------------------------------------------------------------
	[ 6 Footer ]
-------------------------------------------------------------------*/

.footer { color:#fff; font-size:14px; font-weight:bold; padding: 0 15px; }
/* copyright */
.footer .copyright { width:550px; float:left; padding:0 0 5px 0; }
/* footer-menu */
.footer .footer-menu { width:550px; float:left; padding:0 0 10px 0; }
.footer .footer-menu ul { margin:0; padding:0; }
.footer .footer-menu ul li { list-style:none; float:left; display:block; margin:0; padding:0 10px; border-left:2px solid #fff; }
.footer .footer-menu ul li:first-child { padding-left:0px; border-left:none; }
.footer .footer-menu ul li a { color:#fff; }
.footer .footer-menu ul li a:hover { color:#fff; }
/* titan badge */
.titan-badge { width:235px; height:30px; float:right; padding:25px  0 10px 20px; }
.titan-badge .titan-title { float:left; display:block; padding:10px 5px 0 0; }
.titan-badge a.titan-logo { float:right; display:block; }

.footer .copyright{
	margin-top:25px;
}
.footer-group-inner{
	padding:0 10px;
}
.footer-pad,.footer-group-outer{
	position:relative;

	}
	.footer-group-left{
	left:0;
	top:0;
	}
	.footer-group-right{
	right:0;
	top:0;
	}

.footer-group-left,.footer-group-right{
	width:247px;
	height:91px;
	padding-bottom:10px;
	position:absolute;
	z-index:100;
	
	}
	.footer-group-outer{
	max-width:1474px;
	
}
.footer-group-wrapper{
	position:relative;
	overflow:visible !important;
	
}
.footer-group-left{
	/*background:#fff url('../images/footer_left_bg.jpg') no-repeat ;*/
}
.footer-group-right{
	/*background:#001934;*/
}
.footer-pad {
	
	height:91px;
	width:960px;
	background:#fff url('../images/footer_bg.jpg') no-repeat;
}
/*------------------------------------------------------------------
	[ 7 Gallery ]
-------------------------------------------------------------------*/
html > body .ngg-album { border:none; float:left; display:block; margin-right:20px; }
.ngg-album .ngg-thumbnail { margin-right:5px; }
.ngg-album .ngg-thumbnail img { border:none; background-color:#FFFFFF; }
.ngg-album .ngg-thumbnail img:hover { border:none; background-color:#CCCCCC; }
.ngg-album .ngg-description { clear:both; }

.ngg-gallery-thumbnail img { border:none; background-color:#FFFFFF; }
.ngg-gallery-thumbnail img:hover { border:none; background-color:#CCCCCC; }
.ngg-navigation { height:20px; }
.ngg-navigation a.page-numbers:hover, .ngg-navigation a.prev:hover, .ngg-navigation a.next:hover {  }



/* Fixes */
.single-wpsc-product .page-title {
	display: none;
}
.single-product-title {
	font-size: 31px; 
}
.image-holder {
	width: 237px !important;
	height: 288px;
	display: table-cell;
	border: 1px solid #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
    vertical-align:middle;
    line-height: 288px;
    overflow: hidden;
}
.images img{
	vertical-align: middle;
}
.noprice {
	display: block;
}
.wpsc_product_sku, .order_wrapper, .price_display, .single-addcart, .wpsc_fb_like, .noprice {
	margin-top: 10px;
}
.product-details {
	margin-right: 15px;
}
.single-product-descrition {
	font-size: 21px;
}
.single-wpsc-product .related_product {
	height: auto;
}

.validation-error {
	color: red;
}

.wpsc_shipping_quote_radio input {
    margin-left: 10px;
    margin-top: 4px;
}

.pricedisplay {
    margin-left: 10px;
}
.el-price-container {
	margin: 2px 0px 0px 10px;
}
.titan_wpsc_td_total {
	text-align: right;
	padding-right: 55px;
}

#eWAYBlock {
	display: inline-block;
	position: relative;
	width: 222px;
	height: auto;
	margin: 0 0 -10px 10px;
}
#eWAYBlock img {
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
}
@-moz-document url-prefix() { 
  #eWAYBlock  {
    width: 227px;
  }
  .titan_wpsc_td_total {
	padding-right: 50px;
	}
}

/* news */
.news-item {
	margin-top: 10px;
}
.single-news-thumbnail {
	margin-left: 10px;
}
.front-news-wrapper {
	margin: 20px 0;
}
.latestNewsContent .news-thumb {
	float: left;
}
.single-news-list .menu .menu-item-19374 a {
	background: url('../images/menu_item_bg.jpg') repeat-x;
	font-size: 21px;
    padding: 2px 14px 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.latestNewsContent .news-thumb img {
	margin: 5px 10px 3px 0;
}
.front-news-wrapper .latestNewsLink {
	text-align: right;
}
.wpsc_default_product_list-search .productcol .wpsc_product_price {
	margin-left: -10px;
}
* + html .wpsc_default_product_list-search { 
    margin-bottom: 50px;
}
.wpsc_category_decription {
line-height:24px;	
}
.wpsc_category_decription h2{
margin-top:10px;
}
.cat-desc{
margin-bottom:10px;	
}
#wpsc_shopping_cart_container h2{
	margin: 0;
}
#change_country{
	margin-bottom: 15px;
}
.contact_pond_store_pick_up_only {
	display: none;
	clear: both;
	margin-top: 5px;
}
.single-addcart .wpsc_soldout {
	clear: both;
}
.total_price .pricedisplay {
	margin: 0;
}
.single-wpsc-product #fancy_notification {
    
}
tr.wpsc_change_country  {display:inline-block !important;}
#change_country .shipping_region.text.wpsc-visitor-meta {
    display:none !important;
}
.main-sub-page .wpsc_no-product,
.wpsc-category.wpsc-category-ornaments .wpsc_default_product_list.inside-category,
.wpsc-category.wpsc-category-local-handcrafts .wpsc_default_product_list.inside-category,
.wpsc-category.wpsc-category-ponds-and-waterfeatures .wpsc_default_product_list.inside-category
{display:none !important;}
.single_product_display .product_information .image-holder img{   
    max-width:100%;
    width:auto;
}
.ngg-breadcrumbs{
    display:none;
}
.titan-footer img{
    max-width:80px;
}