/* fix for Advanced Custom Field */
	.chzn-container { display: none; }
	.acf_input .select, .acf_postbox .select { display: block !important; }
    .titan-footer a img{max-width:80px;}

/* fix for Advanced Custom Field */