/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
.header-main .nav > li > a,
.header a.icon:not(.button),
.searchform .button.icon {
    color: #0b5fb7 !important;
}
.home .flickity-slider .overlay {
    background-color: transparent;
}
.form-flat input:not([type="submit"]), .form-flat textarea, .form-flat select {
    background-color: #fff;
}
#place_order{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu {
  z-index: 999;
  position: absolute;
  width: 250px;
  border: 0;
  padding: 0px 0px 0px 0px;
  background: #f1f1f1;
  max-width: none;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item a {
  display: block;
  background: #f1f1f1;
  color: #666;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  padding: 0px 10px 0px 10px;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: baseline;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item:first-child>a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item:last-child>a {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item a:hover, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item a:focus {
    background: #ddd;
    font-weight: normal;
    text-decoration: none;
    color: #666;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item ul.mega-sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
}

#header .header-bg-container .header-bg-image{
    background-size: cover;
}


/* START: PRODUCTS STYLING */
#content .product-category {
    padding: 12px;
    margin: 3px;
    max-width: 20%;
    flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    background: transparent;
    margin: 0px;
}
.shop-container .product-category {
    padding: 12px;
    margin: 3px;
    max-width: 25%;
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    background: transparent;
    margin: 0px;
}
#content .product-category > .col-inner, .shop-container .product-category > .col-inner,
.download-boxes .col-inner,
.page-id-57 .box-image {
    border: 1px solid #bac2bc;
}

.box-badge .box-text {
    bottom: 1px;
    left: 1px;
    right: 1px;
    width: auto;
}

#content .product-category .col-inner, #content .product-category .box-badge,
.shop-container .product-category .col-inner, .shop-container .product-category .box{
    height: 100%;
}

#content .product-category .box-badge .box-image,
.shop-container .product-category .box .box-image {
    display: flex;
    align-items: center;
}
#content .product-category .box-badge .box-text,
.shop-container .product-category .box .box-text {
    bottom: 0;
    /*background-color: rgba(11,95,183,0.85);*/
    background-color: rgba(11,95,183,1);
    color: #fff;
    padding-bottom: 0.5em;
    position: relative;
    display: flex;
    align-items: center;
}

#content .product-category .box-badge .box-text .header-title,
#content .product-category .box-badge .box-text .uppercase,
.shop-container .product-category .box .box-text .header-title,
.shop-container .product-category .box .box-text .uppercase{
    color: #fff;
}

#content .product-category .box-badge .box-text:hover, #content .product-category .box-badge .box-text:focus,
.shop-container .product-category .box .box-text:hover, .shop-container .product-category .box .box-text:focus{
    background-color: #b4d11d;
}

.shop-container .product-category .box .box-image img{
    min-height: 11.5em;
}

.products .product {
    max-height: 22em;
    padding: 12px;
    margin: 3px;
    max-width: 32%;
    flex-basis: 32%;
    -ms-flex-preferred-size: 32%;
}
.home .products .product {
    max-height: 22em;
    padding: 5px;
    margin: 3px;
    max-width: 24%;
    flex-basis: 24%;
    -ms-flex-preferred-size: 24%;
}

.products .product .box-image{
    max-height: 15em;
    border: 1px solid #bac2bc;
    background-color: #0b5fb7;
}
/* END: PRODUCTS STYLING */

/* CART */
.woocommerce-shipping-destination {
    margin: 15px 0px 0px;
}
.shipping-calculator-form {
    display: block !important;
}

/* TABLEPRESS OVERRIDE */
.tablepress thead th, 
.tablepress tbody td, 
.tablepress tfoot th {
    border: 1px solid #ddd;
    padding: 10px
}
.tablepress thead th {
    background: #0b5fb7;
    color: #fff;
}

/* RESPONSIVE STYLING */
@media screen and (min-width: 768px) and (max-width: 1024px){
    #content .product-category{
        max-width: 33.33%;
        flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
    }
    
    .shop-container .product-category{
        max-height: 28em;
        max-width: 49%;
        flex-basis: 49%;
        -ms-flex-preferred-size: 49%;
    }
    
    .products .product{
        max-height: 100%;
        max-width: 49%;
        flex-basis: 49%;
        -ms-flex-preferred-size: 49%;
    }
    
    .products .product .box-image{
        max-height: 24em;
    }
}


@media screen and (max-width: 768px){
    #content .product-category,
    .shop-container .product-category{
        max-width: 100%;
        flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        margin: 1em 3em;
    }
    
    .products .product,
    .home .products .product{
        max-width: 100%;
        flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        margin: 1em 3em;
    }
    
    .products .product .box-image{
        max-height: 100%;
    }
}


@media only screen and (max-width: 600px) {
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu {
        float: left;
        position: static;
        width: 100%;
        padding: 0;
        border: 0;
    }
    
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item {
        clear: both;
    }
    
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item:first-child>a {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item:last-child>a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item ul.mega-sub-menu {
        position: static;
        left: 0;
        width: 100%;
    }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout ul.mega-sub-menu li.cat-item ul.mega-sub-menu a {
        padding-left: 20px;
    }
}



@media only screen and (min-width: 601px) {
    #mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"] li.cat-item.mega-menu-megamenu>ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"] li.cat-item.mega-menu-flyout ul.mega-sub-menu {
        opacity: 0;
        transform: translate(0, 10px);
        transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;
    }

    #mega-menu-wrap-primary #mega-menu-primary[data-effect="slide_up"] li.cat-item.mega-menu-megamenu>ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary[data-effect="slide_up"] li.cat-item.mega-menu-flyout ul.mega-sub-menu {
        transform: translate(0, 10px);
        transition: transform 200ms ease-in, visibility 200ms ease-in;
    }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.cat-item a>span.mega-indicator:after {
        content: '\f345';
    }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-align-bottom-right li.cat-item a {
        text-align: right;
    }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-align-bottom-right li.cat-item a>span.mega-indicator {
        float: left;
    }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-align-bottom-right li.cat-item a>span.mega-indicator:after {
        content: '\f341';
        margin: 0 6px 0 0;
    }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-align-bottom-right li.cat-item a:before {
        float: right;
        margin: 0 0 0 6px;
    }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-align-bottom-right ul.mega-sub-menu li.cat-item ul.mega-sub-menu {
        left: -100%;
        top: 0;
    }
}

/* SEARCH */
.search .large-9 > h4,
.search .large-9 > hr,
.search .large-9 > div:not(.shop-container) {
    display: none;
}

@media only screen and (max-width: 48em) {
  /*************** ADD MOBILE ONLY CSS HERE  ***************/


}